/* Beginning of Part Two */
html {
    height: 100%;
    width: 100%;
  }
  
  * {
    box-sizing: border-box;

    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    list-style-type: none;
  }
  
  header {
    padding: 0 16px;
    height: 56px;
    display: flex;
    justify-content: space-between;
  }

  /* Start Section */
  .start{
    display:flex;
    align-items: center;
  }
  .menu-btn{
    padding:8px;
  }
  .yt-logo{
    width: 120px;
    height: 58px;
    padding:0px 14px 0px 16px;
  }
  .yt-logo > img{
    width: 100%;
  }

/* Center Section */
.center{
    display:flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    margin-right:15px;
}
.search-input{
    width: 536px;
    height: 40px;
    background-color: #fff;
    padding-left: 16px;
    border-radius: 40px 0px 0px 40px;
    border: solid 1px lightgray;
    
}
.search-input > input{
    width: 95%;
    height: 100%;
    margin:0px;
    border:none;
    font-size: 16px;
    font-weight: 400;
}
.search-btn{
    width: 64px;
    height: 40px;
    border: solid 1px lightgray;
    border-radius: 0px 40px 40px 0px;
    padding:1px 6px;
}
.search-mic{
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
}

/* End Section */
.end{
    display:flex;
    align-items: center;
}
.settings-menu{
    padding:8px;
}
.signin-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#065fd4;
    width: 96px;
    height: 34px;
    border:solid 1px lightgray;
    border-radius: 40px;
}
.signin-text{
    font: 16px;
    
}

/* End of Part Two */

/* Beginnig of Part Four */
nav{
    width: 224px;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
nav::-webkit-scrollbar {
    display: none;
}

.guide{
    width:216px;
    padding:12px;
    border-bottom:1px solid lightgray;
}
.yt-paper-item{
    width: 204px;
    font-size: 14px;
    height: 40px;
    padding:12px;
    display:flex;
    align-items: center;
}
.yt-paper-icon{
    margin-right:25px;

}

/* End of Part Four */

/* Beginnig of Part Six */
main{
    display:flex;
    
}

.main-content{
    width: 100%;
    margin-left:12px;
    height: 90vh;
    overflow-y: scroll;
}
.iron-selector{
    height:56px;
    padding:12px 24px;
    
}

.iron-selector > ul{
    display:flex;
    align-items: center;
}

.iron-selector > ul > li{
    font-weight: 500;
    line-height: 2rem;
    padding:0px 12px;
    margin-left:12px;
    overflow-wrap:normal;
}

.active{
    background-color:black;
    color:white;
    border-radius: 8px;
}

/* End of Part Six */

/* Beginning of Part eight */
.yt-banner-promo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 260px;
    width: 100%;
    padding:12px 24px;
    color:white;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url('images/cape-town-bg.jpg');
    background-position: 0;
}

.banner-logo{
    width: 100px;
    height: 100px;
    background-color: transparent;
}
.banner-text{
    width: 50%;
    padding-bottom: 5PX;
}
.banner-text > h2{
    font-size: 2rem;
}
.banner-call{
    background-color: red;
    width:fit-content;
    padding:5px;
    border-radius: 14px;
    font-weight: 500;
}
/* End of Part eight */

/* Beginning of Part 10 */
.contents{
    display:flex;
    padding:24px;
    padding-bottom: 0px;
}
.content{
    margin:0 auto;
    width:335px;
}
.content-img{
    width:100%;
    border-radius: 8px;
}
.content-details{
    display: flex;
    padding:10px;
}
.content-details-pp{
    width:46px;
    height: 46px;
    border-radius: 15px;
}
.content-details-metadata{
    color:#606060;
    font-size: 14px;
}
.meta-title{
    font-size: 16px;
    font-weight: 500;
    color:black;
    margin-bottom:5px;
}